
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_MainPage1.cshtml";
}
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<script src="~/Scripts/vue.js"></script>
<script src="~/Scripts/vue.min.js"></script>
<script src="~/Scripts/App.js"></script>
<meta name="viewport" content="width=device-width" /> <link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<script src="~/Scripts/vue.js"></script>
<script src="~/Scripts/vue.min.js"></script>
<script src="~/Scripts/App.js"></script>
<meta name="viewport" content="width=device-width" />

<h2>Contact</h2>

